entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["stripe:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "995555140848-j8edjvd9vraq95p0mg5snudfo60ohp2b.apps.googleusercontent.com"
EXPO_PUBLIC_FACEBOOK_APP_ID = "EAAUhbO88R5wBQqnNBFd9ykGZCsIfitmwpnW9XZCf25G7TZBKJurYiDtZC7v7thCHWVfK28wF5Kl0sAdgzdlZAycRSVllZBoaokP3Dz9HNZAlOC40G3T7uoge6YjTrM28UJGOcvTBHRf31yCbCrU4xb7EFdJ9ZAdeK5HbLOBe4rkKTqAATywcSJg2T2whNZCZA9IBgY0FCAk8a3MvpeOg0bVouu1HcihzriyKcIO7ZAXZBiRfYzDZC6yuxSHtsiXZBJs5W8GuR8lcalO3fP0ZAFiK7Hmqy4ZBB8p3eZCMlJvZCSUodf96XjaG3WsC1i5nmCwqiETdje7wQTOKA2eoF75epM"
